@using Commerce.Web
@model List<Commerce.Web.Models.Manager.UserViewModel>

@section _Body {
    <style>
        .table > thead > tr > td
        {
            font-weight: bold;
        }
    </style>
    <div class="workspace-heading-parent">
        <div class="workspace-heading">
            <div id="heading" class="container">
                <div class="row">
                <div class="span9">
                    <h1>Manage Existing Admins</h1>
				</div>
				<div class="span3" style="margin-top:15px; text-align:right;">
                    <a class="btn btn-primary btn-block" href="@Url.Action("Create")"><i class="icon-plus icon-white"></i> Add New User</a>

				</div>
		        </div>
            </div>
        </div>
    </div>

    <div id="body-container" class="container">
        <table cellpadding="0" cellspacing="0" class="table">
        <thead>
            <tr>
                <td style="width:75px;">Type</td>
                <td style="width:200px;">Email</td>
                <td style="width:220px;">Name</td>
                <td style="width:205px;">Date Created</td>
                <td align="center" style="width:75px;">Approved</td>
                <td align="center" style="width:75px;">Online</td>
                <td align="center" style="width:75px;">Locked</td>
                <td style="width:75px; text-align:right;">Action</td>
            </tr>
        </thead>
        
        <tbody>
        @foreach (var user in this.Model) {
           <tr>
                <td>@user.UserRole</td>
                <td>@user.Email.TruncateAfter(20)</td>
                <td>@user.FullName.TruncateAfter(20)</td>
                <td>@user.CreationDate</td>
                <td align="center">@user.IsApproved</td>
                <td align="center">@user.IsOnline</td>
                <td align="center">@user.IsLockedOut</td>
                <td style="text-align:right;">@Html.RouteLink("View", AdminNavigation.ManagerDetails(user.AggregateUserId))</td>
           </tr>
        } 
        </tbody>
        </table>
    </div>
}
