@using Pleiades.Web.MvcHelpers

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>pushmarket</title>
    <meta charset="utf-8">
	
    @Html.Javascript("/jquery/jquery-1.8.2.min.js") 	
    @Html.Javascript("/jquery/jquery.animate-colors-min.js")
	@Html.Javascript("/knockout/knockout-2.1.0.js")	
	@Html.Javascript("/knockout/ko.observableDictionary.js")	

	@Html.Javascript("/bootstrap/js/bootstrap-modal.js")
	@Html.Javascript("/bootstrap/js/bootstrap-alert.js")	
	@Html.Javascript("/bootstrap/js/bootstrap-dropdown.js")	
    @Html.Stylesheet("/bootstrap/css/bootstrap.css")
	@Html.Javascript("/scripts/flow.js")
	@Html.Javascript("/scripts/pushmarket-common.js")
	@Html.Javascript("/scripts/ajax-service.js")
    @Html.Stylesheet("/style/pushmarket.css")

    @RenderSection("_Scripts", false)
    @RenderSection("_Templates", false)
  </head>
  
  <body>
    @if (ViewContext.RouteData.GetRequiredString("action") == "Login")
    {
        @Html.Partial("_Header")
    }
    else
    {
        @Html.Partial("_HeaderWithMenu")
    }
    
    @Html.Partial("_CrossCutting")
    @RenderSection("_Body")	    
    @Html.Partial("_Footer")
  </body>
</html>
