@model UserViewModel

@section _Body {
   <div class="workspace-heading-parent">
        <div class="workspace-heading">
            <div id="heading" class="container">
                <div class="row" style="position:relative">
                <div style="left:-75px; margin-top:15px; position:absolute; text-align:right;">
					<a class="btn btn-inverse" href="@Url.RouteUrl(AdminNavigation.ManagerList())">
                        <i class="icon-arrow-left icon-white"></i> Back
                    </a>
				</div>
                <div class="span12">
                    <h1>Admins &gt; @Model.Email</h1>
				</div>
            </div>
        </div>
    </div>

    <div id="body-container" class="container">
        @Html.Partial("_AdminUserDetails", this.Model)
        
        <table class="recordgrid" cellpadding="0" cellspacing="0">
        @if (this.Model.IsLockedOut) {
        <tr>
            <td class="label-right">Unlock This User</td>
            <td style="width:100px;">
                <a href="@Url.Action("Unlock", "Manager", new { id = this.ViewContext.RouteData.Values["id"] })" class="btn btn-primary btn-block">Unlock 
                <i class="icon-arrow-right icon-white"></i></a>
            </td>
`        </tr>
        }       
        <tr>
            <td style="width:160px;" class="label-right">Edit User</td>
            <td style="width:100px;">
                <a href="@Url.Action("Edit", "Manager", new { id = this.ViewContext.RouteData.Values["id"] })" class="btn btn-primary btn-block">Edit 
                <i class="icon-arrow-right icon-white"></i></a>
            </td>
        </tr>

        <tr>
            <td class="label-right">Reset Password</td>
            <td>
                <a href="@Url.Action("Reset", "Manager", new { id = this.ViewContext.RouteData.Values["id"] })" class="btn btn-primary btn-block">Reset 
                <i class="icon-arrow-right icon-white"></i></a>
            </td>
        </tr>
        <tr>
            <td class="label-right">Change Password</td>
            <td>
                <a href="@Url.Action("ChangePassword", "Manager", new { id = this.ViewContext.RouteData.Values["id"] })" class="btn btn-primary btn-block">Change 
                <i class="icon-arrow-right icon-white"></i></a>
            </td>
        </tr>
        @if (this.Model.UserRole != UserRole.Supreme) { 
        <tr>
            <td class="label-right">Delete this User</td>
            <td>
                <a href="@Url.Action("Delete", "Manager", new { id = this.ViewContext.RouteData.Values["id"] })"} class="btn btn-primary btn-block">
                    Delete <i class="icon-arrow-right icon-white"></i></a>
            </td>
        </tr>
        }
        </table>
    </div>
}