@using Pleiades.Web.MvcHelpers

@section _Scripts {
    @Html.Javascript("/scripts/product-service.js")
    @Html.Javascript("/jquery/jquery-ui-1.10.0.custom.min.js")
    @Html.Partial("_ColorPicker")
    @Html.Partial("_FineUploader")
	@Html.Partial("_ImageBundleViewer")

    <!-- Knockout Translation scripts -->
    <script type="text/javascript">
		// KO enabling/disabling of server JSON        
        var ProductInfoToKnockout = function(product) {
			var output = {
				Id: ko.observable(product.Id),
				Name: ko.observable(product.Name || ""),
				SEO: ko.observable(product.SEO || ""),
				SkuCode: ko.observable(product.SkuCode || ""),
				Synopsis: ko.observable(product.Synopsis || ""),
                Description: ko.observable(product.Description || ""),
                SizeGroupId: ko.observable(product.SizeGroupId),
                SizeGroupName: ko.observable(product.SizeGroupName),
                BrandId: ko.observable(product.BrandId),
                BrandName: ko.observable(product.BrandName),
                CategoryId: ko.observable(product.CategoryId),
                CategoryName: ko.observable(product.CategoryName),
                UnitPrice: ko.observable(product.UnitPrice || 0),
                UnitCost: ko.observable(product.UnitCost || 0),
                AssignImagesToColors: ko.observable(product.AssignImagesToColors),             
                ImageBundleExternalId: ko.observable(product.ImageBundleExternalId),
			};
            
            // TODO: figure out how to glue this together via prototypes
            output.UnitPriceFormatted = 
                ko.computed({
                    read: function () {
                        var readValue = '$' + output.UnitPrice().toFixed(2);
                        //console.log("Reading to EditUnitPrice: " + readValue);
                        return readValue;
                    },
                    write: function (value) {
                        //console.log("Writing to EditUnitPrice: " + value);
                        // Strip out unwanted characters, parse as float, then write the raw data back to the underlying "price" observable
                        value = parseFloat(value.replace(/[^\.\d]/g, ""));
                        output.UnitPrice(isNaN(value) ? 0 : value); // Write to underlying storage
                        output.UnitPrice.notifySubscribers();
                    },
                    owner: output
                });

            output.UnitCostFormatted = 
                ko.computed({
                    read: function () {
                        return '$' + output.UnitCost().toFixed(2);
                    },
                    write: function (value) {
                        // Strip out unwanted characters, parse as float, then write the raw data back to the underlying "price" observable
                        value = parseFloat(value.replace(/[^\.\d]/g, ""));
                        output.UnitCost(isNaN(value) ? 0 : value); // Write to underlying storage
                        output.UnitCost.notifySubscribers();
                    },
                    owner: output
                });

            return output;
		}
        
        var ProductInfoToServerJson = function(product) {
			return {
				Id: product.Id(),
				Name: product.Name(),
                SEO: product.SEO(),
                SkuCode: product.SkuCode(),
                Synopsis: product.Synopsis(),
                Description: product.Description(),
                CategoryId: product.CategoryId(),
                BrandId: product.BrandId(),
                SizeGroupId: product.SizeGroupId(),
                UnitPrice: product.UnitPrice(),
                UnitCost: product.UnitCost(),
                ImageBundleExternalId: product.ImageBundleExternalId(),
                AssignImagesToColors: product.AssignImagesToColors(),
			};
		}

        var ToMoney = function(input) {
            return "$" + input.toFixed(2);
        }
	</script>    
    <!-- Images View Model -->
    <script type="text/javascript">
        var AddImageFunctions = function (rootModel) {
            var self = rootModel;

            self.SelectedColorsWithImages = ko.observableArray();
            self.SelectedProductImages = ko.observableArray();
            self.NewImageInput = ko.observable();

            self.ProductColorWithImagesById = function(id) {
                for (i = 0; i < self.SelectedColorsWithImages().length; i++) {
                    var color = self.SelectedColorsWithImages()[i];
                    if (color.Id == id) {
                        return color;
                    }
                }
            }

            self.ImagesTabClick = function () {
                if (self.SelectedProduct().AssignImagesToColors()) {
                    var unassignedColor = { Id: 0, Name: "Unassigned", Images: ko.observableArray() };
                    flow.exec(
                        function() { 
                            self.ProductService.Colors(self.SelectedProduct().Id(), this);
                        },
                        function (colorJson) {
                            $.each(colorJson, function(index, elem) { 
                                elem.Images = ko.observableArray();
                            });

                            self.SelectedColorsWithImages(colorJson);
                            self.SelectedColorsWithImages().unshift(unassignedColor);
                            self.ProductService.Images(self.SelectedProduct().Id(), this);
                        },
                        function (imagesJson) {                            
                            $.each(imagesJson, function(index, elem) {
                                color = self.ProductColorWithImagesById(elem.ProductColorId);
                                color.Images.push(elem);
                            });

                            if (unassignedColor.Images.length == 0) {
                                self.SelectedColorsWithImages.remove(unassignedColor);
                            }

                            self.ActiveView({ Level: "Child", Template: "Images" });
                            self.MakeImagesSortable();
                        }
                    );
                } else {
                    flow.exec(
                        function() { 
                            self.ProductService.Images(self.SelectedProduct().Id(), this);
                        },
                        function (images) {
                            self.SelectedProductImages(images);
                            self.ActiveView({ Level: "Child", Template: "Images" });
                            self.MakeImagesSortable();
                        }
                    );
                }
            }

            self.MakeImagesSortable = function () {
                $(".colorDrop").droppable({
                    drop: function( event, ui ) {
                        var originalColorId = $(event.srcElement).closest("table.colorDrop").attr("id").replace('color', '');
                        var newColorId = event.target.id.replace("color", "");
                        var imageId = $(event.srcElement).closest("li").attr("id").replace("sorted", "");
                        self.UpdateImageToColorAssignment(originalColorId, newColorId, imageId);
                    }
                });

                $.each($(".sortable"), function(index, elem) {
                    $(elem).sortable({
                        placeholder: "ui-state-highlight",
                        update: function() { 
                            self.UpdateImageSortOrder(elem) 
                        },
                        delay: 300
                    }).disableSelection();
                });
            }

            self.UpdateImageToColorAssignment = function(originalColorId, newColorId, imageId) { 
                if (originalColorId == newColorId) {
                    return;
                }
                
                flow.exec(
                    function() {
                        self.ProductService.ChangeImageColor(self.SelectedProduct().Id(), imageId, newColorId, this);
                    },
                    function() {
                        var newColor = self.ProductColorWithImagesById(newColorId);
                        var originalColor = self.ProductColorWithImagesById(originalColorId);
                        var index = originalColor.Images().arrayFirstIndexOf(function(x) { return x.Id == imageId; });
                        var image = originalColor.Images()[index];
                        originalColor.Images.remove(image);
                        newColor.Images.push(image);

                        // Update Empty Unassigned
                        if (originalColor.Id == "0" && originalColor.Images.length == 0) {
                            self.SelectedColorsWithImages.remove(originalColor);
                        }
                    }
                );
            }
            
            self.UpdateImageSortOrder = function (element) {
                var sortOutput = [];
                var sortedElements = $(element).find    ("li");
                $.each(sortedElements, function (index, elem) { 
                    sortOutput.push($(elem).attr('id').replace('sorted', '')); 
                });
                var sortedIds = sortOutput.join(",");
                console.log("Sort Event: " + sortedIds);
                self.ProductService.UpdateImageOrder(self.SelectedProduct().Id(), sortedIds);
            };

            self.GlideBackToImages = function () {
                flow.exec(
                    function () {
                        $("#glideToParent").hide();
                        self.ChildGlider.GlideToParent(this);
                    },
					function () {
					    self.ActiveView({ Level: "Child", Template: "Images" });
                        self.MakeImagesSortable();
					}
				);
            }

            self.DeleteProductImage = function(image) {
                flow.exec(
                    function () {
                        self.ProductService.DeleteProductImage(self.SelectedProduct().Id(), image.Id, this);
                    },
                    function (data) {
                        self.SelectedProductImages.remove(image);
                    }
                );
            }

            self.AddNewImage = function () {
                flow.exec(
                    function () {
                        var input = {
                            ImageBundleExternalId: ko.observable(null),
                            Description: ko.observable(null),
                        };
                        self.NewImageInput(input);
                        self.ChildGlider.GlideToChild(this);
                    },
                    function () {
                        self.ActiveView({ Level: "Sub-Child", Template: "AddImage" });
                        var fileUploader = new CommerceFileUploader(this.CommonUI, self.OnImageUpload);
                    }
                );
            }

            self.SaveImage = function () {
                var newImage = self.NewImageInput();
                if (!newImage.ImageBundleExternalId()) {
                    $("#validation").show();
                    return;
                }
                var input = {
                    ImageBundleExternalId: newImage.ImageBundleExternalId(),
                    Description: newImage.Description(),
                };

                flow.exec(
                    function() {
                        self.ProductService.AddProductImage(self.SelectedProduct().Id(), input, this);
                    },
                    function(data) {
                        self.SelectedProductImages().push(data);
                        self.GlideBackToImages();
                    }
                );
            }
            
            self.OnImageUpload = function(data) {
                console.log(data);
                self.NewImageInput().ImageBundleExternalId(data.ExternalId);
            }

            self.AssignImagesToColor = function() {
                self.SelectedColorsWithImages.removeAll();
                self.SelectedProductImages.removeAll();
                self.SelectedProduct().AssignImagesToColors(true);
                self.ImagesTabClick();

                // TODO: create method on server to save this
            };

            self.UnassignImagesFromColor = function() {
                self.SelectedColorsWithImages.removeAll();
                self.SelectedProductImages.removeAll();
                self.SelectedProduct().AssignImagesToColors(false);
                self.ImagesTabClick();
                
                // TODO: create method on server to save this
            };
        }
    </script>
    <!-- Color View Model -->
    <script type="text/javascript">
        var AddColorFunctions = function (rootModel) {
            var self = rootModel;

            self.SelectedProductColors = ko.observableArray();
            self.NewColorInput = ko.observable(null);
            self.ColorArray = ko.observableArray();

            self.AddColorFromList = function () {
                flow.exec(
                    function () {
                        self.ProductService.ColorsList(this);
                    },
                    function (data) {
                        self.ColorArray(data);
                        $.each(data, function (index, elem) { elem.Selected = ko.observable(false); });
                        self.ChildGlider.GlideToChild(this);
                    },
                    function () {
                        self.ActiveView({ Level: "Sub-Child", Template: "AddColorsFromList" });
                    }
                );
            }

            self.CreateNewColor = function () {
                flow.exec(
                    function () {
                        var input = {
                            ShowUpload: ko.observable(true),
                            ImageBundleExternalId: ko.observable(null),
                            EditName: ko.observable(null),
                            EditSkuCode: ko.observable(null),
                            EditSEO: ko.observable(null),
                        };
                        self.NewColorInput(input);
                        self.ChildGlider.GlideToChild(this);
                    },
                    function () {
                        self.ActiveView({ Level: "Sub-Child", Template: "CreateColor" });
                        var fileUploader = new CommerceFileUploader(this.CommonUI, self.OnColorUpload);
                    }
                );
            }
            

            self.PickColorToggle = function() {
                self.NewColorInput().ShowUpload(false);
                CreateColorPicker();
            }

            self.UploadSwatchToggle = function() {
                self.NewColorInput().ShowUpload(true);
            }

            self.OnColorUpload = function(data) {
                console.log(data);
                self.NewColorInput().ImageBundleExternalId(data.ExternalId);
            }

            self.AddColorsToProduct = function () {
                var colorIdList = [];
                $.each(self.ColorArray(), function (index, elem) {
                    if (elem.Selected()) {
                        colorIdList.push(elem.Id);
                    }
                });

                var iterator = function (callback) {
                    if (colorIdList.length == 0) {
                        self.GlideBackToColorsTabWithRefresh();
                        return;
                    }

                    var nextColorId = colorIdList.pop();
                    self.ProductService.AddProductColor(self.SelectedProduct().Id(), nextColorId, iterator);
                };
                iterator();
            }

            self.GlideBackToColorsTabWithRefresh = function() {
                flow.exec(
                    function () {
                        self.ProductService.Colors(self.SelectedProduct().Id(), this);
                    },
                    function (colors) {
                        self.SelectedProductColors(colors);
                        self.ChildGlider.GlideToParent(this);
                    },
                    function () {
                        self.ActiveView({ Level: "Child", Template: "Colors" });
                        self.MakeColorsSortable();
                    }
                );
            }
            
            self.GlideBackToColors = function () {
                flow.exec(
                    function () {
                        $("#glideToParent").hide();
                        self.ChildGlider.GlideToParent(this);
                    },
					function () {
					    self.ActiveView({ Level: "Child", Template: "Colors" });
                        self.MakeColorsSortable();
					}
				);
            }
            
			self.SaveColor = function() {
			    var colorInput = self.NewColorInput();
				flow.exec(
					function() {
                        var test = colorInput;
						if ($.trim(colorInput.EditName()) == "" || $.trim(colorInput.EditSEO()) == "" || 
                            $.trim(colorInput.EditSkuCode()) == "")
                        {
                        	$("#validation").show();
							return;
						}

                        if (colorInput.ShowUpload() == true && colorInput.ImageBundleExternalId() == null) {
                        	$("#validation").show();
							return;
                        }

                        if (colorInput.ShowUpload() == false) {
                            var farbtasticColor = GetSelectedColor();                
                            var createColorJson = { Rgb: farbtasticColor, Width: "150", Height: "150" };
                            self.ProductService.CreateBitmap(createColorJson, this);
                        }
                        else {
                            this( { ExternalId: colorInput.ImageBundleExternalId() });
                        }
                    },
                    function(data) {
                        console.log("Image Bundle Data: " + data);
                        colorInput.ImageBundleExternalId(data.ExternalId);

                        // Next, create a Color
                        var serverRecord = {
                            Name: colorInput.EditName(),
                            SkuCode: colorInput.EditSkuCode(),
                            SEO: colorInput.EditSEO(),
                            ImageBundleExternalId: data.ExternalId, 
                        };

						self.ProductService.AddColorToColorList(serverRecord, this);                        
					},
					function(data) {
                        self.ProductService.AddProductColor(self.SelectedProduct().Id(), data.Id, this);
                    },
					function() {
                        self.GlideBackToColorsTabWithRefresh();
                    }
				);
			}			

            self.SelectColor = function (data) {
                data.Selected(!data.Selected());
            }
            
            self.DeleteProductColor = function (color) {
                self.ModalViewModel({ Template: "Modal-Dialog-ProductColor", Data: color });
                $('#modal-delete').modal();
            }

            self.DeleteProductColorConfirm = function () {
                var color = self.ModalViewModel().Data;
                flow.exec(
                    function () {
                        $('#modal-delete').modal('hide');
                        self.ProductService.DeleteProductColor(self.SelectedProduct().Id(), color.Id, this);
                    },
                    function (data) {
                        self.SelectedProductColors.remove(color);
                        self.ModalViewModel({ Template: null });
                    }
                );
            }
            
            self.ColorsTabClick = function () {
                flow.exec(
                    function () {
                        self.ProductService.Colors(self.SelectedProduct().Id(), this);
                    },
                    function (colors) {
                        self.SelectedProductColors(colors);
                        self.ActiveView({ Level: "Child", Template: "Colors" });
                        self.MakeColorsSortable();
                    }
                );
            }

            self.MakeColorsSortable = function () {
                $(".sortable").sortable({
                    placeholder: "ui-state-highlight",
                    update: self.UpdateColorSortOrder,
                    delay: 300
                });
                $(".sortable").disableSelection();
            }

            self.UpdateColorSortOrder = function () {
                var sortOutput = [];
                $.each($("#colors > div"), function (index, elem) { 
                    sortOutput.push($(elem).attr('id').replace('sorted', '')); 
                });
                var sortedIds = sortOutput.join(",");
                self.ProductService.UpdateColorOrder(self.SelectedProduct().Id(), sortedIds);
            };

        }
	</script>
    <!-- List Model -->
    <script type="text/javascript">
        var AddListModel = function (rootModel) {
            var self = rootModel;
            self.BrandArray = ko.observableArray();
            self.CategoryArray = ko.observableArray();
            self.SizeGroupArray = ko.observableArray();

            self.RetrieveCategoriesList = function (callback) {
                flow.exec(
                    function () {
                        self.ProductService.Categories(this);
                    },
                    function (data) {
                        self.CategoryArray.removeAll();
                        self.CategoryArray.push({ value: null, text: "(Select a Category)" });

                        var addCategory = function (category, indent) {
                            self.CategoryArray.push({ value: category.Id, text: indent + category.Name });
                            $.each(category.Categories, function (index, elem) { addCategory(elem, indent + '....'); });
                        }
                        $.each(data, function (index, elem) { addCategory(elem, ''); });
                        if (callback) {
                            callback();
                        }
                    }
                );
            }

            self.RetrieveBrandsList = function (callback) {
                flow.exec(
                    function () {
                        self.ProductService.Brands(this);
                    },
                    function (data) {
                        self.BrandArray.removeAll();
                        self.BrandArray.push({ value: null, text: "(Select a Brand)" });

                        $.each(data, function (index, elem) {
                            self.BrandArray.push({ value: elem.Id, text: elem.Name });
                        });

                        if (callback) {
                            callback();
                        }
                    }
                );
            }

            self.RetrieveSizeGroupsList = function (callback) {
                flow.exec(
                    function () {
                        self.ProductService.SizeGroups(this);
                    },
                    function (data) {
                        self.SizeGroupArray.removeAll();
                        self.SizeGroupArray.push({ value: null, text: "(Select a Size Group)" });

                        $.each(data, function (index, elem) {
                            self.SizeGroupArray.push({ value: elem.Id, text: elem.Name });
                        });

                        if (callback) {
                            callback();
                        }
                    }
                );
            }
        }
    </script>
    <!-- Search View Model -->
    <script type="text/javascript">
        var AddSearchFunctions = function (rootModel) {
            var self = rootModel;

            // asynchronous, service-bound operations            
            self.EditProduct = function (product) {
                flow.exec(
					function () {
					    self.SelectedIndex = self.SearchData.indexOf(product);
					    self.ProductService.Info(product.Id, this);
					},
					function (product) {
					    var knockedoutData = ProductInfoToKnockout(product);
					    self.SelectedProduct(knockedoutData);
					    self.ParentGlider.GlideToChild(this);
					},
                    function () {
                        self.InfoTabClick();
                    }
				);
            }

            self.AddProduct = function () {
                flow.exec(
                    function () {
                        var knockedoutData = ProductInfoToKnockout({});
                        self.SelectedProduct(knockedoutData);
                        self.ParentGlider.GlideToChild(this);
                    },
                    function () {
                        self.InfoTabClick();
                    }
                );
            }

            self.SearchClick = function () {
                flow.exec(
                    function () {
                        var brandId = $("#SearchBrand").val();
                        var categoryId = $("#SearchCategory").val();
                        var searchText = $("#SearchText").val();
                        self.ProductService.Search(brandId, categoryId, searchText, this);
                    },
                    function (data) {
                        self.SearchData(data);
                    }
                );
            }

            self.InfoTabClick = function () {
                self.ActiveView({ Level: "Child", Template: "Info" });
            }

            self.GlideToSearchView = function () {
                var recordId = self.SelectedProduct().Id();
                flow.exec(
                    function () {
                        $("#glideToParent").hide();
                        self.ParentGlider.GlideToParent(this);
                    },
					function () {
					    self.ActiveView({ Level: "Parent", Template: "Search" });
					    self.SelectedProduct(null);
					    self.SelectedIndex = null;
					    self.CommonUI.ScrollToIdTracker(recordId);
					}
				);
            }

            self.DeleteProduct = function (product) {
                self.ModalViewModel({ Template: "Modal-Dialog-Product", Data: product });
                $('#modal-delete').modal();
            }

            self.DeleteProductConfirm = function () {
                var record = self.ModalViewModel().Data;
                flow.exec(
                    function () {
                        $('#modal-delete').modal('hide');
                        self.ProductService.Delete(record, this);
                    },
                    function (data) {
                        self.Data.remove(function (item) { return item.Id == record.Id; });
                        self.ModalViewModel(null);
                    });
            }

            self.SaveClick = function () {
                var product = self.SelectedProduct();
                var errors = [];
                errors.push({ controlGroup: "#ProductName", invalid: product.Name().trim() == "" });
                errors.push({ controlGroup: "#SkuCode", invalid: product.SkuCode().trim() == "" });
                errors.push({ controlGroup: "#SEO", invalid: product.SEO().trim() == "" });
                errors.push({ controlGroup: "#Synopsis", invalid: product.Synopsis().trim() == "" });
                errors.push({ controlGroup: "#Description", invalid: product.Description().trim() == "" });
                errors.push({ controlGroup: "#Brand", invalid: product.BrandId() == null });
                errors.push({ controlGroup: "#Category", invalid: product.CategoryId() == null });
                errors.push({ controlGroup: "#SizeGroup", invalid: product.SizeGroupId() == null });

                var validationMessage = $("#validation");
                validationMessage.hide();
                $.each(errors, function (index, elem) {
                    if (elem.invalid) {
                        $(elem.controlGroup).addClass("error");
                        validationMessage.show();
                    }
                    else {
                        $(elem.controlGroup).removeClass("error");
                    }
                });

                if (validationMessage.is(":visible")) {
                    return;
                }

                flow.exec(
                    function () {
                        self.ProductService.Update(ProductInfoToServerJson(product), this);
                    });

                // TODO: what to do here?
                //self.SearchData.replace(self.SearchData()[self.SelectedIndex], product);
            }

            return self;
        }
    </script> 
    <!-- Root View Model -->
    <script type="text/javascript">
        var RootModel = function () {
            var self = this;

            self.ActiveView = ko.observable({ Level: "Parent", Template: "Search" });
            self.ModalViewModel = ko.observable({ Data: null, Template: null });

            self.CommonUI = new CommonUI("#gliding-container");
            self.ParentGlider = new GliderWidget("#gliding-container", "#parent-editor", "#child-editor");
            self.ChildGlider = new GliderWidget("#gliding-container", "#child-editor", "#sub-child-editor");            
            self.ProductService = new ProductService(self.CommonUI.Error, self.CommonUI.ShowLoading, self.CommonUI.HideLoading);

            AddSearchFunctions(self);
            AddListModel(self);
            AddColorFunctions(self);
            AddImageFunctions(self);

            self.RetrieveCategoriesList();
            self.RetrieveBrandsList();
            self.RetrieveSizeGroupsList();

            self.SearchData = ko.observableArray();

            // Move these to the Product View Model
            self.SelectedProduct = ko.observable(null);
            self.SelectedProductName = ko.computed(
                function () {
                    return self.SelectedProduct() && self.SelectedProduct().Name() && self.SelectedProduct().Name().koTrunc(50, true) || "(New Product)"
                }, this);
        }

        $(function () {
            var rootModel = new RootModel();
            ko.applyBindings(rootModel);
        });
    </script>
}

@section _Templates {
	<!-- KNOCKOUT TEMPLATE - TOP WORKSPACE SEARCH -->
	<script type="text/html" id="Top-Workspace-Parent">
        <div class="workspace-heading" style="height:125px;">
		    <div id="heading" class="container">
			    <div class="row">
				    <div class="span9">
					    <h1>Products > All</h1>
				    </div>
				    <div class="span3" style="margin-top:15px; text-align:right;">
					    <a class="btn btn-primary btn-block" data-bind="click: $root.AddProduct">Add New Product <i class="icon-arrow-right icon-white"></i></a>
				    </div>
			    </div>

                <div style="height:20px;"></div>
                
                <div class="row">
				    <div class="span3">
                        <select id="SearchCategory" data-bind="foreach: $data.CategoryArray">
                            <option data-bind="value: $data.value, text: $data.text"  />
                        </select>
                    </div>
				    <div class="span3">
                        <select id="SearchBrand" data-bind="foreach: $data.BrandArray">
                            <option data-bind="value: $data.value, text: $data.text"  />
                        </select>
                    </div>
                    <div class="span3">
                        <input id="SearchText" type="text" class="input-large" placeholder="Description, Name, Sku..." />
                    </div>
				    <div class="span3">
					    <a class="btn btn-inverse btn-block" data-bind="click: $data.SearchClick">Search <i class="icon-search icon-white"></i></a>
                    </div>
                </div>
		    </div>
        </div>
    </script>
	<!-- KNOCKOUT TEMPLATE - TOP WORKSPACE PRODUCT -->
	<script type="text/html" id="Top-Workspace-Child">
        <div class="workspace-heading" style="height:125px;">
		    <div id="heading" class="container" data-bind="if: $root.SelectedProduct()">
			    <div class="row" style="position:relative;">				
				    <div class="span12">
					    <h1>Products &gt; <span data-bind="text: $root.SelectedProductName"></span></h1>
				    </div>
			    </div>
                
                <div style="height:20px;"></div>
                
                <div class="row">
                    <div class="span6">
                        <ul class="nav nav-pills">
                            <li style="width:140px;">
				                <a id="glideToParent" class="backbutton" data-bind="click: $root.GlideToSearchView">&laquo; Back to Search</a>
                                &nbsp;
                            </li>
                            
                            <li data-bind="if: $root.ActiveView().Template == 'Info'" class="active">
                                <a href="#">Info</a>
                            </li>
                            <li data-bind="if: $root.ActiveView().Template != 'Info'">
                                <a href="#" data-bind="click: $root.InfoTabClick">Info</a>
                            </li>

                            <!-- ko if: $root.SelectedProduct().Id() -->
                            <li data-bind="if: $root.ActiveView().Template == 'Colors'" class="active">
                                <a href="#">Colors</a>
                            </li>
                            <li data-bind="if: $root.ActiveView().Template != 'Colors'">
                                <a href="#" data-bind="click: $root.ColorsTabClick">Colors</a>
                            </li>

                            <li data-bind="if: $root.ActiveView().Template == 'Images'" class="active">
                                <a href="#">Images</a>
                            </li>
                            <li data-bind="if: $root.ActiveView().Template != 'Images'">
                                <a href="#" data-bind="click: $root.ImagesTabClick">Images</a>
                            </li>
                            <!-- /ko -->
                        </ul>
                    </div>

                    <div class="span6" style="text-align:right;" data-bind="if: $root.ActiveView().Template == 'Info'">
					    <a class="btn btn-inverse" href="#" data-bind="click: $root.GlideToSearchView"><i class="icon-remove icon-white"></i> Cancel</a>                    
					    <a class="btn btn-primary" href="#" data-bind="click: $root.SaveClick"><i class="icon-ok icon-white"></i> Save</a>
                    </div>

                    <div class="span6" style="text-align:right;" data-bind="if: $root.ActiveView().Template == 'Colors'">
					    <a class="btn btn-primary" href="#" data-bind="click: $root.AddColorFromList"><i class="icon-white icon-search"></i> Add Color from Lists</a>
					    <a class="btn btn-primary" href="#" data-bind="click: $root.CreateNewColor"><i class="icon-white icon-pencil"></i> Create New Color</a>
                    </div>

                    <div class="span6" style="text-align:right;" data-bind="if: $root.ActiveView().Template == 'Images'">
				        <a class="btn btn-primary" href="#" data-bind="click: $root.AddNewImage"><i class="icon-plus icon-white"></i> Add Image</a>
                        
                        <!-- ko ifnot: $root.SelectedProduct().AssignImagesToColors() -->
				        <a class="btn btn-primary" href="#" data-bind="click: $root.AssignImagesToColor"><i class="icon-white icon-share"></i> Assign Images To Colors</a>
                        <!-- /ko -->

                        <!-- ko if: $root.SelectedProduct().AssignImagesToColors() -->
				        <a class="btn btn-primary" href="#" data-bind="click: $root.UnassignImagesFromColor"><i class="icon-white icon-ban-circle"></i> Don't Assign Images To Colors</a>
                        <!-- /ko -->
                    </div>
		        </div>
		    </div>
		</div>
    </script>
	<!-- KNOCKOUT TEMPLATE - TOP WORKSPACE COLOR-SUBVIEW -->
	<script type="text/html" id="Top-Workspace-Sub-Child">
        <div class="workspace-heading" style="height:125px;">
		    <div class="container" data-bind="if: $root.SelectedProduct()">
			    <div class="row" style="position:relative;">				
				    <div class="span12">
					    <h1>Products &gt; <span data-bind="text: $root.SelectedProductName"></span></h1>
				    </div>
			    </div>
                
                <div style="height:20px;"></div>

                <!-- ko if: $root.ActiveView().Template == 'AddImage' -->
                <div class="row">
                    <div class="span2">
                        <ul class="nav nav-pills">
                            <li style="width:140px;">
				                <a id="glideToParent" data-bind="click: $root.GlideBackToImages">&laquo; Back to Product</a>
                                &nbsp;
                            </li>
                        </ul>
                    </div>
                    <div class="span7" style="padding-left:20px;">
                        <p class="lead" style="color:#999;">Upload an Image of your Product</p>
                    </div>
                </div>
                <!-- /ko -->

                <!-- ko if: $root.ActiveView().Template == 'AddColorsFromList' -->
                <div class="row">
                     <div class="span2">
                        <ul class="nav nav-pills">
                            <li style="width:140px;" data-bind="ifnot: $root.ActiveView().Template == 'AddImage'">
				                <a id="glideToParent" data-bind="click: $root.GlideBackToColors">&laquo; Back to Product</a>
                                &nbsp;
                            </li>
                        </ul>
                    </div>
                    <div class="span5">
                        <p class="lead" style="color:#999;">Select Colors to add to your Product</p>
                    </div>
                    <div class="span5" style="text-align:right;">
					    <a class="btn btn-inverse" href="#" data-bind="click: $root.GlideBackToColors"><i class="icon-remove icon-white"></i> Cancel</a>                    
					    <a class="btn btn-primary" href="#" data-bind="click: $root.AddColorsToProduct"><i class="icon-ok icon-white"></i> Add Colors</a>
                    </div>
                </div>
                <!-- /ko -->

                <!-- ko if: $root.ActiveView().Template == 'CreateColor' -->
                <div class="row">
                    <div class="span2">
                        <ul class="nav nav-pills">
                            <li style="width:140px;">
				                <a id="glideToParent" data-bind="click: $root.GlideBackToColors">&laquo; Back to Product</a>
                                &nbsp;
                            </li>
                        </ul>
                    </div>                    
                    <div class="span5">
                        <p class="lead" style="color:#999;">Create a Color to add to your Product</p>
                    </div>
                </div>
                <!-- /ko -->

		    </div>
		</div>
	</script>
    <!-- KNOCKOUT TEMPLATE - PARENT EDITOR SEARCH -->
	<script type="text/html" id="Parent-Editor-Search">
		<div style="margin-top:24px; text-align:center;" class="alert alert-info" data-bind="visible: $root.SearchData().length == 0">
			<strong>There are no Products in your current search.  Click "Search" to run a search or click "Add New Product" to create a new one.</strong>  
		</div>
		
		<table id="parent-editor-table" class="table table-hover" data-bind="visible: $root.SearchData().length > 0">
		<tbody data-bind="foreach: $root.SearchData()">
			<tr>
			<td>
				<span class="span2">
                	<div data-bind="template: { name: 'Image-Bundle-Thumbnail-Viewer', data: { ExternalResourceId: $data.ImageBundleExternalId, LightboxSuffixId: 'Parent' } }">
			        </div>
                </span>
            </td>
            <td>
				<span class="span7">
					<input type="hidden" data-bind="attr: { id: 'tracker' + $data.Id }" />
					<p>
                        <h4 data-bind="text: $data.Name" style="margin-bottom:5px;"></h4>
                        <span data-bind="text: 'Sku: ' + $data.SkuCode"></span><br />
                        <span data-bind="text: 'Brand: ' + $data.BrandName"></span><br />
                        <span data-bind="text: 'Price: ' + ToMoney($data.UnitPrice)"></span>
                    </p>
				</span>
            </td>
			<td>
				<span class="span3" style="text-align:right;">					
					<a class="btn btn-primary" style="width:70px;" href="#" data-bind="click: function() { $parent.DeleteProduct($data) }"><i class="icon-trash icon-white"></i> Delete</a>
					<a class="btn btn-inverse" style="width:70px;" data-bind="click: $parent.EditProduct">Edit <i class="icon-arrow-right icon-white"></i></a>
				</span>
			</td>
			</tr>
		</tbody>
		</table>
	</script>
	<!-- KNOCKOUT TEMPLATE - CHILD EDITOR INFO TAB -->
	<script type="text/html" id="Child-Editor-Info">
        <div style="margin-top:20px;" data-bind="with: $root.SelectedProduct()">
        <form>
			<div id="validation" style="text-align:center; clear:both; display:none;" class="alert alert-error">
                <strong>Please enter all the required fields.</strong>
			</div>

            <div class="row">
                <div class="span6">
                    <div class="row">
                        <div id="ProductName" class="span6 control-group">
                            <label>Product Name<br /><input class="input-large" style="width:440px;" type="text" placeholder="Enter Product Name" data-bind="value: $data.Name" maxlength="50" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div id="SkuCode" class="span3 control-group">
                            <label>SKU Code<br /><input class="input-large" style="width:200px;" type="text" placeholder="Enter Sku Code" data-bind="value: $data.SkuCode" maxlength="10" />
				            </label>
                        </div>
                        <div id="SEO" class="span3 control-group">
                            <label>SEO<br /><input class="input-large" style="width:200px;" type="text" placeholder="Enter SEO Tag" data-bind="value: $data.SEO" maxlength="50" />
				            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div id="Synopsis" class="span6 control-group">
                            <label>Synopsis (short desc.)<br/>
                                <textarea id="entry" type="text" class="input-large" style="width:440px;" rows="2" 
                                    placeholder="Enter Synopsis" data-bind="value: $data.Synopsis" maxlength="200" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div id="Description" class="span6 control-group">
                            <label>Description<br/>
                                <textarea id="entry" type="text" class="input-large" style="width:440px;" rows="6" 
                                    placeholder="Enter Description" data-bind="value: $data.Description" maxlength="500" />
                            </label>
                        </div>
                    </div>
                </div>

                <div class="span3">
                    <div class="row">
                        <div class="span3 control-group">
                            <label>Unit Price<br /><input class="input-large" style="width:200px;" type="text" placeholder="Enter Unit Price" data-bind="value: $data.UnitPriceFormatted" maxlength="12" />
				            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3 control-group">
                            <label>Unit Cost<br /><input class="input-large" style="width:200px;" type="text" placeholder="Enter Unit Cost" data-bind="value: $data.UnitCostFormatted" maxlength="12" />
				            </label>
                        </div>
                    </div>
                    <div class="row">
				        <div id="Brand" class="span3 control-group">
                            <label>Brand<br />
                                <select id="SelectedBrand" data-bind="options: $root.BrandArray, optionsText: 'text', optionsValue:'value', value: $data.BrandId" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div id="Category" class="span3 control-group">
                            <label>Category<br />
                                <select id="SelectedCategory" data-bind="options: $root.CategoryArray, optionsText: 'text', optionsValue:'value', value: $data.CategoryId" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div id="SizeGroup" class="span3 control-group">
                            <label>Size Group<br />
                                <select id="SelectedSizeGroup" data-bind="options: $root.SizeGroupArray, optionsText: 'text', optionsValue:'value', value: $data.SizeGroupId" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>            
        </form>
        </div>
	</script>
	<!-- KNOCKOUT TEMPLATE - CHILD EDITOR COLORS TAB -->
    <script type="text/html" id="Child-Editor-Colors">
    <div style="margin-top:0px;">
        <form>
            <div style="margin-top:30px; text-align:center;" class="alert alert-info" data-bind="visible: $root.SelectedProductColors().length == 0">
			    <strong>There are no Colors for this Product.  Add a Color from the existing list, or Create a new one.</strong>  
		    </div>
		    
            <div id="colors" class="sortable" data-bind="foreach: $root.SelectedProductColors()">
                <div class="draggable" data-bind="attr: { id: 'sorted' + $data.Id }">
		        <table class="table table-hover" style="margin-bottom:0px;">
		            <tbody>
			            <tr>
			            <td>
				            <span class="span2">
                	            <div data-bind="template: { name: 'Image-Bundle-Thumbnail-Viewer', data: { ExternalResourceId: $data.ImageBundleExternalId, LightboxSuffixId: 'Parent' } }">
			                    </div>
                            </span>
                        </td>
                        <td>
				            <span class="span5">
					            <input type="hidden" data-bind="attr: { id: 'tracker' + $data.Id }" />
					            <p><strong data-bind="text: $data.Name"></strong> - <span data-bind="text: $data.SkuCode"></span></p>
				            </span>
                        </td>
			            <td>
				            <span class="span5" style="text-align:right;">
                                <a href="#" class="btn btn-inverse disabled"><i class="icon-screenshot icon-white"></i> Drag Me!</a>
					            <a class="btn btn-primary" style="width:70px;" href="#" data-bind="click: function() { $root.DeleteProductColor($data) }"><i class="icon-trash icon-white"></i> Delete</a>
				            </span>
			            </td>
			            </tr>
		            </tbody>
		        </table>
                </div>
            </div>
        </form>
    </div>
    </script>
    <!-- KNOCKOUT TEMPLATE - CHILD EDITOR COLORS TAB - ADD FROM LIST SUB -->
    <script type="text/html" id="Sub-Child-Editor-AddColorsFromList">
    <div>
        <form>    
		    <table id="color-table" class="table table-hover">
		    <tbody data-bind="foreach: $root.ColorArray()">
			    <tr>
			    <td>
				    <span class="span2">
                	    <div data-bind="template: { name: 'Image-Bundle-Thumbnail-Viewer', data: { ExternalResourceId: $data.ImageBundleExternalId, LightboxSuffixId: 'Parent' } }">
			            </div>
                    </span>
                </td>
                <td>
				    <span class="span7">
					    <input type="hidden" data-bind="attr: { id: 'tracker' + $data.Id }" />
					    <p><strong data-bind="text: $data.Name"></strong> - <span data-bind="text: $data.SkuCode"></span></p>
				    </span>
                </td>
			    <td>
				    <span class="span3" style="text-align:right;">					
                        <div data-bind="if: $data.Selected() == false">
					        <a class="btn btn-primary" style="width:70px;" href="#" data-bind="click: function() { $root.SelectColor($data) }">
                                <i class="icon-plus icon-white"></i> Select</a>
                        </div>
                        <div data-bind="if: $data.Selected() == true">
                            <span class="label label-info">Selected!</span>
					        <a class="btn btn-white" style="width:70px;" href="#" data-bind="click: function() { $root.SelectColor($data) }">
                                <i class="icon-minus icon-black"></i> Remove</a>
                        </div>
				    </span>
			    </td>
			    </tr>
		    </tbody>
		    </table>
        </form>
    </div>
    </script>
    <!-- KNOCKOUT TEMPLATE - CHILD EDITOR COLORS TAB - CREATE SUB -->
    <script type="text/html" id="Sub-Child-Editor-CreateColor">
        <div data-bind="with: $root.NewColorInput">
        <form>
            <div style="height:20px;"></div>

			<div id="validation" style="text-align:center; clear:both; display: none;" class="alert alert-error">
                <strong>Please enter all the required fields.</strong>
			</div>

            <div class="row">
                <div class="span3">
                    <div data-bind="if: $data.ShowUpload">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="#">Upload Swatch</a>
                            </li>
                            <li>
                                <a href="#" data-bind="click: $root.PickColorToggle">Pick Color</a>
                            </li>
                        </ul>

                        <label>Color Swatch</label>
                        <div style="margin-bottom:20px;" data-bind="template: { name: 'Image-Bundle-Small-Viewer', data: { ExternalResourceId: $data.ImageBundleExternalId(), LightboxSuffixId: 'Child' } }">
			            </div>
			            <div style="margin-bottom:20px; margin-top:20px;" data-bind="template: { name: 'Fine-Uploader', data: $data }">
			            </div>
                    </div>

                    <div data-bind="ifnot: $data.ShowUpload">
                        <ul class="nav nav-pills">
                            <li>
                                <a href="#" data-bind="click: $root.UploadSwatchToggle">Upload Swatch</a>
                            </li>
                            <li class="active">
                                <a href="#">Pick Color</a>
                            </li>
                        </ul>

                        <div id="color-picker" data-bind="template: { name: 'Color-Picker' }"></div>    
                    </div>
                  </div>
                <div class="span9">
                    <div class="row">
                        <div class="span3">
                            <label>Color Name<br /><input class="input-large" style="width:200px;" type="text" placeholder="Enter Color Name" data-bind="value: $data.EditName" maxlength="50" />
                            </label>
                        </div>
                        <div class="span3">
                            <label>SKU Code<br /><input class="input-large" style="width:200px;" type="text" placeholder="Enter Sku Code" data-bind="value: $data.EditSkuCode" maxlength="6" />
				            </label>
                        </div>
                        <div class="span3">
                            <label>SEO<br /><input class="input-large" style="width:200px;" type="text" placeholder="Enter SEO Tag" data-bind="value: $data.EditSEO" maxlength="50" />
				            </label>
                        </div>
                    </div>
                </div>
                <div class="span9" style="text-align:right;">
					<a class="btn btn-inverse" href="#" data-bind="click: $root.GlideToParentView"><i class="icon-remove icon-white"></i> Cancel</a>                    
					<a class="btn btn-primary" href="#" data-bind="click: $root.SaveColor"><i class="icon-ok icon-white"></i> Save</a>
                </div>
            </div>
            
        </form>
        </div>
	</script>
    <!-- KNOCKOUT TEMPLATE - CHILD EDITOR IMAGES TAB -->
    <script type="text/html" id="Child-Editor-Images">
    <div data-bind="if: $root.SelectedProduct().AssignImagesToColors">
        <!-- ko foreach: $root.SelectedColorsWithImages() -->
        <div>
        <table class="table-hover colorDrop" data-bind="attr: { id: 'color' + $data.Id }">
            <tr>
                <td valign="top" style="padding-top:20px;">
                    <div style="width:712px;">
                        <ul class="sortable" data-bind="attr: { id: 'images' + $data.Id }, foreach: $data.Images()">
                            <li data-bind="attr: { id: 'sorted' + $data.Id }">
                                <div style="width:160px; padding-bottom:5px;" data-bind="template: { name: 'Image-Bundle-Small-Viewer', data: { ExternalResourceId: $data.ImageBundleExternalId, LightboxSuffixId: 'Parent' } }">
                                </div>
                                <a href="#" style="width:55px;" class="btn btn-inverse btn-small disabled"><i class="icon-screenshot icon-white"></i> Drag!</a>
                                <a class="btn btn-primary btn-small" style="width:55px;" href="#" data-bind="click: function() { $root.DeleteProductImage($data) }"><i class="icon-trash icon-white"></i> Delete</a>			
                            </li>
                        </ul>
                    </div>
                </td>
                <td valign="top" style="width:220px; text-align:left; vertical-align:top; padding-top:20px;">
                    <div data-bind="if: $data.Name == 'Unassigned'">
				        <p><strong>Unassigned Images</strong></p>
                        <h4>Drag images from this region onto Color to assign</h4>
                    </div>
                    <div data-bind="ifnot: $data.Name == 'Unassigned'">
                        <div style="width:80px; margin-bottom:5px;" data-bind="template: { name: 'Image-Bundle-Thumbnail-Viewer', data: { ExternalResourceId: $data.ImageBundleExternalId, LightboxSuffixId: 'Parent' } }">
			            </div>
				        <p>
                            <strong data-bind="text: $data.Name"></strong > - <span data-bind="text: $data.SkuCode"></span>
                        </p>
                        <h4>Drag images from other colors into this list to assign to this color</h4>
                    </div>
                </td>
            </tr>
        </table>
        </div>
        <!-- /ko -->

        <div style="display:block; margin-bottom:200px; clear:both;">
        </div>
    </div>

    <div data-bind="ifnot: $root.SelectedProduct().AssignImagesToColors" style="margin-top:20px;">
        <ul class="sortable" data-bind="foreach: $root.SelectedProductImages()">
            <li data-bind="attr: { id: 'sorted' + $data.Id }">
                <div style="width:160px; padding-bottom:5px;" data-bind="template: { name: 'Image-Bundle-Small-Viewer', data: { ExternalResourceId: $data.ImageBundleExternalId, LightboxSuffixId: 'Parent' } }">
                </div>
                <a href="#" style="width:55px;" class="btn btn-inverse btn-small disabled"><i class="icon-screenshot icon-white"></i> Drag!</a>
                <a class="btn btn-primary btn-small" style="width:55px;" href="#" data-bind="click: function() { $root.DeleteProductImage($data) }"><i class="icon-trash icon-white"></i> Delete</a>			
            </li>
        </ul>
        <div style="display:block; margin-bottom:200px; clear:both;">
        </div>
    </div>
    </script>
    <!-- KNOCKOUT TEMPLATE - CHILD EDITOR IMAGES COLOR TAB -->
    <script type="text/html" id="Sub-Child-Editor-AddImage">
        <div style="height:20px;"></div>

        <div data-bind="with: $root.NewImageInput">
        <form>
			<div id="validation" style="text-align:center; clear:both; display: none;" class="alert alert-error">
                <strong>Please Upload an Image.</strong>
			</div>

            <div class="row">
                <div class="span3">
                    <div style="margin-bottom:20px;" data-bind="template: { name: 'Image-Bundle-Small-Viewer', data: { ExternalResourceId: $data.ImageBundleExternalId(), LightboxSuffixId: 'Child' } }">
			        </div>
			        <div style="margin-bottom:20px; margin-top:20px;" data-bind="template: { name: 'Fine-Uploader', data: $data }">
			        </div>
                </div>
                <div class="span9">
                    <div class="row">
                        <div class="span6">
                            <label>Image Description<br /><input class="input-large" style="width:300px;" type="text" placeholder="Enter Image Description" data-bind="value: $data.Description" maxlength="100" />
                            </label>
                        </div>
                        <div class="span3">
					        <a class="btn btn-inverse" href="#" data-bind="click: $root.GlideBackToImages"><i class="icon-remove icon-white"></i> Cancel</a>                    
					        <a class="btn btn-primary" href="#" data-bind="click: $root.SaveImage"><i class="icon-ok icon-white"></i> Save</a>
                        </div>
                    </div>
                </div>
            </div>            
        </form>
        </div>
	</script>
	<!-- KNOCKOUT TEMPLATE - MODAL DIALOG PRODUCT -->
	<script type="text/html" id="Modal-Dialog-Product">
		<div id="modal-delete" class="modal hide fade">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Delete <span data-bind="text: $root.ModalViewModel().Data.Name"></span></h3>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to Delete this Product?</p>			
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-inverse" data-dismiss="modal"><i class="icon-remove icon-white"></i> Cancel</a>
				<a href="#" id="modal-action" class="btn btn-primary" data-bind="click: $root.DeleteProductConfirm"><i class="icon-ok icon-white"></i> Ok</a>
			</div>
		</div>
    </script>
	<!-- KNOCKOUT TEMPLATE - MODAL DIALOG PRODUCT COLOR -->
	<script type="text/html" id="Modal-Dialog-ProductColor">
        <div id="modal-delete" class="modal hide fade">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Delete <span data-bind="text: $root.ModalViewModel().Data.Name"></span></h3>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to Delete this Color from the Product?</p>			
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-inverse" data-dismiss="modal"><i class="icon-remove icon-white"></i> Cancel</a>
				<a href="#" id="modal-action" class="btn btn-primary" data-bind="click: $root.DeleteProductColorConfirm"><i class="icon-ok icon-white"></i> Ok</a>
			</div>
		</div>
	</script>
}

@section _Body {
    <div class="workspace-heading-parent" data-bind="template: { name: 'Top-Workspace-' + $root.ActiveView().Level }">
	</div>
    
	<div id="gliding-container" class="container" style="top:185px;">
    	<div id="parent-editor" data-bind="if: $root.ActiveView().Level == 'Parent'">
			<div style="margin-bottom:100px;" data-bind="template: { name: 'Parent-Editor-' + $root.ActiveView().Template }">
			</div>
		</div>		
		<div id="child-editor" data-bind="if: $root.ActiveView().Level == 'Child'">
			<div style="margin-bottom:100px;" data-bind="template: { name: 'Child-Editor-' + $root.ActiveView().Template  }">
			</div>
		</div>
        <div id="sub-child-editor" data-bind="if: $root.ActiveView().Level == 'Sub-Child'">
			<div style="margin-bottom:100px;" data-bind="template: { name: 'Sub-Child-Editor-' + $root.ActiveView().Template }">
			</div>
		</div>
    </div>

    <div id="modal-enclave" data-bind="if: $root.ModalViewModel().Template">
        <div data-bind="template: { name: $root.ModalViewModel().Template }">
        </div>
    </div>    
}