@using System.Configuration

<!DOCTYPE html>
<html ng-app>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
        @Html.Javascript("~/Bundles/Foundation")
        @Html.Javascript("~/Content/angular/angular.min.js")
        @Html.Partial("_MvcShim")
        @Html.Javascript("~/Content/Commerce.Web/Scripts/angular-app.js")
        @Html.Javascript("~/Content/Commerce.Web/Scripts/angular-controller.js")

        <!-- TODO: upgrade Bootstrap to 3.0 -->
        @Html.Stylesheet("~/Content/Bootstrap/css/bootstrap.min.css")
        @Scripts.Render("~/Bundles/BootstrapBaseScript")

        @Html.Javascript("~/Content/PushLibraryNg/endless-ng-glider.js")
        @Html.Stylesheet("~/Content/Commerce.Web/Style/pushmarketadmin.css")
    </head>

    <body>
        @Html.Partial("_Header")
        
        @RenderSection("_Body")	  
    
        @Html.Partial("_Footer") 
    </body>
</html>
