@model Commerce.Web.Models.Auth.LogOnViewModel
@using System.Configuration
@using Commerce.Web

@section _Body {    
    <div id="body-container" class="container">        
      <div class="hero-unit">
        <h1 style="margin-bottom:20px;">Pushmarket Admin Sign-in</h1>
		
        @using (Html.BeginForm()) {
		    <div style="float:left; margin-right:20px;">
		        <label style="font-weight: bold; color:#666;">
		            Enter your User Id
		        </label>
                @Html.TextBoxFor(x => x.UserName)
		    </div>
		    
		    <div style="float:left; margin-right:20px;">
				<label style="font-weight: bold; color:#666;">
				    Enter your Password
                </label>	
				@Html.PasswordFor(x => x.Password)
		    </div>
		    
		    <div style="width:150px; float:left; padding-top:20px;">
		        <button type="submit" class="btn btn-primary btn-large btn-block">
		            <i class="icon-white icon-lock"></i> &nbsp;Login &nbsp;<i class="icon-white icon-ok"></i>
		        </button>
            </div>
		    
		    <div style="clear:both;"></div>            
        }
		<hr />
		
		<div style="clear:both;">

            @if (!ViewContext.ViewData.ModelState.IsValid) 
            {
                <div class="alert alert-error">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    @Html.ValidationMessage("", "WARNING - unable to log in")
                </div>
            }
		
		    <a style="float:left; margin-right:20px; width:175px;" href="@ConfigurationManager.AppSettings["StorefrontUrl"]" class="btn btn-block">
		        <i class="icon-arrow-left"></i> &nbsp;Back To Store Front
		    </a>

            <a href="@Url.RouteUrl(AdminNavigation.Home())" class="btn btn-block" style="float:left; width:175px; margin-top: 0px;">
		        <i class="icon-ban-circle"></i> &nbsp;Can't Login?
		    </a> 
		</div>
      </div>
    </div>
}
