<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PushMarket - Site Management</title>

        @Scripts.Render("~/Bundles/Foundation")
        @Html.Stylesheet("~/Content/Bootstrap_2_3_2/css/bootstrap.min.css")
        @Scripts.Render("~/Bundles/BootstrapBaseScript_2_3_2")
        @Html.Stylesheet("~/Content/Commerce.Web/Style/pushmarketadmin.css")
    </head>
    
    <body>
        @Html.Partial("_HeaderBare")
        @RenderSection("_Body")	    
        @Html.Partial("_Footer")
    </body>
</html>
s