@using System.Configuration

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PushMarket - Site Management</title>
    @Scripts.Render("~/Bundles/Foundation")
    @Scripts.Render("~/Bundles/BootstrapBaseScript")
    @Html.Stylesheet("~/Content/Bootstrap/css/bootstrap.min.css")
    
    @if (ConfigurationManager.AppSettings["BundleOptimizationDebug"] == "true")
    {
        @Html.Javascript("~/Content/Knockout/knockout-2.3.0rc.js")
        @Html.Javascript("~/Content/Knockout/ko.observableDictionary.js")

        @Html.Javascript("~/Content/PushLibraryKo/ajax.js")
        @Html.Javascript("~/Content/PushLibraryKo/knockout-glider.js")
        @Html.Javascript("~/Content/PushLibraryKo/scroll-tracker.js")
    }
    else
    {
        @Scripts.Render("~/Bundles/KnockoutJS")
        @Scripts.Render("~/Bundles/PushLibraryKo")        
    }

    @Html.Stylesheet("~/Content/Commerce.Web/Style/pushmarketadmin.css")

    @RenderSection("_Scripts", false)
    @RenderSection("_Templates", false)
  </head>
  
  <body>
    @Html.Partial("_PushLibraryShim")

    @if (ViewContext.RouteData.GetRequiredString("action") == "Login")
    {
        @Html.Partial("_Header")
    }
    else
    {
        @Html.Partial("_HeaderWithMenu")
    }

    @RenderSection("_Body")	    
    @Html.Partial("_Footer")
  </body>
</html>
