@using System.Configuration

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PushMarket - Site Management</title>
    @if (ConfigurationManager.AppSettings["BundleOptimizationDebug"] == "true") {
        <!-- Non optimized -->
        @Html.Javascript("~/Content/JQuery/jquery-2.0.3.min.js")
        @Html.Javascript("~/Content/JQuery/jquery.validate.min.js")
        @Html.Javascript("~/Content/Utilities/aQuery-1.0-min.js")        
        @Html.Javascript("~/Content/Utilities/flow.js")        
        @Html.Javascript("~/Content/Utilities/generalFunctions.js")        
    }
    else
    {
        @Scripts.Render("~/Bundles/Foundation")
    }

    @Scripts.Render("~/Bundles/BootstrapBaseScript_2_3_2")
    @Html.Stylesheet("~/Content/Bootstrap_2_3_2/css/bootstrap.css")
    
    @if (ConfigurationManager.AppSettings["BundleOptimizationDebug"] == "true")
    {
        @Html.Javascript("~/Content/Knockout/knockout-2.3.0rc.js")
        @Html.Javascript("~/Content/Knockout/ko.observableDictionary.js")
        @Html.Javascript("~/Content/PushLibraryKo/ajax.js")
        @Html.Javascript("~/Content/PushLibraryKo/knockout-glider.js")
        @Html.Javascript("~/Content/PushLibraryKo/scroll-tracker.js")
    }
    else
    {
        @Scripts.Render("~/Bundles/KnockoutJS")
        @Scripts.Render("~/Bundles/PushLibraryKo")        
    }

    @Html.Stylesheet("~/Content/Commerce.Web/Style/pushmarketadmin.css")

    @RenderSection("_Scripts", false)
    @RenderSection("_Templates", false)
  </head>
  
  <body>
    @Html.Partial("_PushLibraryShim")

    @if (ViewContext.RouteData.GetRequiredString("action") == "Login")
    {
        @Html.Partial("_Header")
    }
    else
    {
        @Html.Partial("_HeaderWithMenu")
    }

    @RenderSection("_Body")	    
    @Html.Partial("_Footer")
  </body>
</html>
