@using System.Configuration

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PushMarket - Site Management</title>
        @Styles.Render("~/Bundles/BootstrapBaseStyle_2_3_2")
        @Html.Stylesheet("~/Content/Commerce.Web/Style/pushmarketadmin.css")
    </head>
  
    <body>
        @Html.Partial("_HeaderBare")
        @RenderSection("_Body")	    
        @Html.Partial("_Footer")
    </body>
</html>
