@using Pleiades.Web.MvcHelpers

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PushMarket - Site Management</title>
    
    @Scripts.Render("~/Bundles/Foundation")
    @Scripts.Render("~/Bundles/BootstrapBaseScript")
    @Html.Stylesheet("~/Content/Bootstrap/css/bootstrap.min.css")
    @Scripts.Render("~/Bundles/KnockoutJS")
    @Scripts.Render("~/Bundles/PushLibrary")

    @Html.Stylesheet("~/Content/Commerce.Web/Style/pushmarket.css")
    @RenderSection("_Scripts", false)
    @RenderSection("_Templates", false)
  </head>
  
  <body>    
    @Html.Partial("_PushLibraryConnector")

    @if (ViewContext.RouteData.GetRequiredString("action") == "Login")
    {
        @Html.Partial("_Header")
    }
    else
    {
        @Html.Partial("_HeaderWithMenu")
    }

    @RenderSection("_Body")	    
    @Html.Partial("_Footer")
  </body>
</html>
