@model Commerce.Web.Areas.Public.Models.ProductListModel

@{
    ViewBag.Title = "List";
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>pushmarket</title>
    @Scripts.Render("~/Bundles/Foundation")
    @Scripts.Render("~/Bundles/BootstrapScript")
    @Styles.Render("~/Bundles/BootstrapStyle")
  </head>
  
  <body>
    <h1>Welcome Back to Pleiades!- Under Construction</h1>
    @Html.RouteLink("Go To Admin Area", AdminNavigation.Home())
    @Html.RouteLink("Go To Admin Login", AdminNavigation.Login())  
  </body>
</html>
