@using System.Configuration
    <div class="navbar navbar-fixed-bottom">
        <div class="bottom-navbar-style" style="background-color: #333; color: #FFF;">
            <div class="container">
                <footer>
                    <p>@ConfigurationManager.AppSettings["PushMarketSoftwareName"] 
                    
                        @ConfigurationManager.AppSettings["PushMarketVersion"] |

                        @ConfigurationManager.AppSettings["PushMarketCompanyName"] | 

                        <a style="color:#08C;" href="@ConfigurationManager.AppSettings["PushMarketWebsite"]">
                            @ConfigurationManager.AppSettings["PushMarketWebsite"]
                        </a>
                    </p>
                </footer>
            </div>
        </div>
    </div>
