@using System.Configuration
@using Commerce.Web.Areas.Admin
@using Commerce.Web.Areas.Public

@section _Scripts {
    @Html.Javascript("~/Content/Bootstrap_2_3_2/js/bootstrap-datepicker.js")
    @Html.Stylesheet("~/Content/Bootstrap_2_3_2/css/datepicker.css")

    <script type="text/javascript">
        var PushMkt = PushMkt || {};

        PushMkt.Dashboard = function () {
            self = this;

            self.Service = new PushLibrary.Ajax();

            self.InitializeControls = function () {                
                var nowTemp = new Date();
                var now = (nowTemp.getMonth() + 1) + "/" + nowTemp.getDate() + "/" + nowTemp.getFullYear();

                var twoWeeksAgoTemp = new Date();
                twoWeeksAgoTemp.setDate(nowTemp.getDate() - 14);
                var twoWeeksAgo = (twoWeeksAgoTemp.getMonth() + 1) + "/" + twoWeeksAgoTemp.getDate() + "/" + twoWeeksAgoTemp.getFullYear();

                $("#data-picker-start").val(twoWeeksAgo);
                $("#data-picker-end").val(now);
                $("#data-picker-start").datepicker();
                $("#data-picker-end").datepicker();
                

            };
        };

        $(function () {
            var dashboard = new PushMkt.Dashboard();
            dashboard.InitializeControls();
        });
    </script>
}

@section _Body {
    <div style="height:90px;"></div>
    <div id="heading" class="container">
        <h1>@ConfigurationManager.AppSettings["ApplicationName"]</h1>
        <h4 style="color:#999;">@ConfigurationManager.AppSettings["CompanyName"]</h4>            
    </div>
    <div style="height:45px;"></div>
    <div id="heading" class="container">
        <div class="row">
            <div class="span3">
                <div style="float:left; padding-top:3px;">From Date: &nbsp;</div>
                <input type="text" class="span2" value="02-16-2012" id="data-picker-start" onkeypress="return false;"
                        data-bind="value: $data.StartDate">
            </div>

            <div class="span3">
                <div style="float:left; padding-top:3px;">To Date: &nbsp;</div>
                <input type="text" class="span2" value="02-16-2012" id="data-picker-end" onkeypress="return false;"
                        data-bind="value: $data.EndDate">
            </div>

            <div class="span3">
                <a class="btn btn-primary" style="width:125px;" data-bind="click: function() { $data.SearchClick(); }">
                    Refresh <i class="icon-search icon-white"></i>
                </a>
            </div>
        </div>

        <!--        @Html.RouteLink("Public Home", PublicNavigation.Home())<br />
            @Html.RouteLink("Test Error Redirect", AdminNavigation.ErrorTest())<br /> -->
    </div>
}