@section _Body {
    <div id="body-container" class="container">
        <h1>Welcome to PushMarket v1.0 (prototype)</h1>
        <div style="clear:both; height:20px;"></div>

        <p>This is a temporary placeholder until more content is developed!</p>

        <p>
        @Html.RouteLink("Manage Admin Users", AdminNavigation.ManagerList())<br />
        @Html.RouteLink("Manage Sections", AdminNavigation.SectionEditor())<br />
        @Html.RouteLink("Manage Categories", AdminNavigation.CategoryEditor())<br />
        @Html.RouteLink("Manage Sizes", AdminNavigation.SizeEditor())<br />
        @Html.RouteLink("Manage Brands", AdminNavigation.BrandEditor())<br />
        @Html.RouteLink("Manage Colors", AdminNavigation.ColorEditor())<br />
        @Html.RouteLink("Test File Upload", AdminNavigation.ImageUploadTest())<br />
        </p>
    </div>
}