@using Commerce.Web.Areas.Admin
@model CreateAdminModel

@section _Body {
    <div class="workspace-heading-parent">
        <div class="workspace-heading">
             <div id="heading" class="container">
                <div class="row">
                    <div class="span12">
                        <h1>Create New Admin User</h1>
				    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <ul class="nav nav-pills">
                            <li style="width:140px;">
				                <a id="glideToParent" class="backbutton"  href="@Url.RouteUrl(AdminNavigation.ManagerList())">&laquo; Back to Admins</a>
                                &nbsp;
                            </li>
                        </ul>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    
    <div id="body-container" class="container">
        @using (Html.BeginForm("Create", "Manager", FormMethod.Post, new { enctype = "multipart/form-data", autocomplete = "off" }))
        {

            if (!ViewContext.ViewData.ModelState.IsValid)
            {
                <div class="alert alert-error" style="padding-top:10px;">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    @Html.ValidationSummary()
                </div>
            }    
            
            <table class="recordgrid" cellpadding="0" cellspacing="0">
            <tr>
                <td class="label-right" style="width:170px;">First Name:</td>
                <td>@Html.TextBoxFor(x => x.FirstName, 25) </td>
            </tr>
            <tr>
                <td class="label-right">Last Name:</td>
                <td>@Html.TextBoxFor(x => x.LastName, 25) </td>
            </tr>
            <tr>
                <td class="label-right">Email:</td>
                <td>@Html.TextBoxFor(x => x.Email, 50)</td>
            </tr>

            <tr>
                <td class="label-right">Password:</td>
                <td>@Html.PasswordFor(x => x.Password, 25)</td>
            </tr>
            <tr>
                <td class="label-right">Verify Password:</td>
                <td>@Html.PasswordFor(x => x.PasswordVerify, 25)</td>
            </tr>

            <tr>
                <td class="label-right">Is Approved?:</td>
                <td>
                    <label style="float:left;">No @Html.RadioButtonFor(x => x.IsApproved, false)</label>
                    <label>Yes @Html.RadioButtonFor(x => x.IsApproved, true)</label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="left">
                    <a href="@Url.RouteUrl(AdminNavigation.ManagerList())" class="btn btn-inverse">
                        <i class="icon-remove icon-white"></i> Cancel
                    </a>
                    <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Save</button>
                </td>
            </tr>
            </table>
        }
    </div>
}
